# Elisp byte code
*.elc

# Package related
/auto-save-list
/elpa
/eshell
/server
.mc-lists.el
*.cache
*.dat
*.eld
*.last
*.*~

# Folders
backups/
eclipse.jdt.ls/
workspace/

# Files
challenger-deep-theme.el
bookmarks
custom.el
recentf
